$libraryRed: #E43534;
$libraryBlue: #0095c8;

/* MAIN NAVIGATION MENU COLORS
 * ---------------------------
 * - In accordance with style-guide
 * - Uses HEX values
*/
$BG_MENU_BROWSE_LEFT: #ED1C24;
$BG_MENU_BROWSE_RIGHT: #E73621;


/* SEARCH BOX COLORS */
$BG_SEARCHBOX: #1DA1D4;