$libraryRed: #E43534;
$libraryBlue: #0095c8;

/* MAIN NAVIGATION MENU COLORS
 * ---------------------------
 * - In accordance with style-guide
 * - Uses HEX values
*/
$BG_MENU_BROWSE_LEFT: #E73621;
$BG_MENU_BROWSE_RIGHT: #bb1d12;

$BG_MENU_ATTEND_LEFT: #52174F;
$BG_MENU_ATTEND_RIGHT: #72256D;

$BG_MENU_LEARN_LEFT: #437529;
$BG_MENU_LEARN_RIGHT: #579B34;

$BG_MENU_RESEARCH_LEFT: #047074;
$BG_MENU_RESEARCH_RIGHT: #00989E;

$BG_MENU_FINDUS_LEFT: #595141;
$BG_MENU_FINDUS_RIGHT: #726958;

$BG_MENU_GIVE_LEFT: #9E0B0B;
$BG_MENU_GIVE_RIGHT: #CF1D1E;

$BG_MENU_HELP_LEFT: #655C4C;
$BG_MENU_HELP_RIGHT: #89806F;

$BG_MENU_SEARCH: #1DA1D4;