@import 'mixins';
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700');

$FONT_PATH_QA: 'http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com';
$FONT_PATH_PROD: 'http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com';

$SECONDARY_FONT_KIEVIT: 'Helvetica';
$THIRD_FONT_KIEVIT: 'arial';
$FOURTH_FONT_KIEVIT: 'sans-serif';

$SECONDARY_FONT_MILO: 'Roboto Slab';
$THIRD_FONT_MILO: 'serif';

/* FONT DEFINITIONS
 * ---------------------------
*/
/* KIEVIT */
@include font-face(Kievit-Regular, '#{$FONT_PATH_PROD}/ff_kievit_web/KievitWeb');
@include font-face(Kievit-Bold, '#{$FONT_PATH_PROD}/ff_kievit_web/KievitWeb-Bold');
@include font-face(Kievit-Book, '#{$FONT_PATH_PROD}/ff_kievit_web/KievitWeb-Book');
@include font-face(Kievit-Light, '#{$FONT_PATH_PROD}/ff_kievit_web/KievitWeb-Light');
@include font-face(Kievit-Thin, '#{$FONT_PATH_PROD}/ff_kievit_web/KievitWeb-Thin');
/* KIEVIT Small Caps */
@include font-face(Kievit-SC, '#{$FONT_PATH_PROD}/ff_kievit_web/KievitScWeb');

/* MILO */
@include font-face(Milo-Regular, '#{$FONT_PATH_PROD}/milo-web/milo-slab-pro-regular/MiloSlabWebPro');
@include font-face(Milo-Regular-Italic, '#{$FONT_PATH_PROD}/milo-web/milo-slab-pro-regular-italic/MiloSlabWebPro-Italic');
@include font-face(Milo-Light, '#{$FONT_PATH_PROD}/milo-web/milo-slab-pro-light/MiloSlabWebPro-Light');
@include font-face(Milo-Light-Italic, '#{$FONT_PATH_PROD}/milo-web/milo-slab-pro-light-italic/MiloSlabWebPro-LightItalic');
@include font-face(Milo-Medium, '#{$FONT_PATH_PROD}/milo-web/milo-slab-pro-medium/MiloSlabWebPro-Medium');

/* KIEVIT INCLUDES */
@mixin Kievit-Regular {
  font-family: 'Kievit-Regular', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Bold {
  font-family: 'Kievit-Bold', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Book {
  font-family: 'Kievit-Book', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Light {
  font-family: 'Kievit-Light', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Thin {
  font-family: 'Kievit-Thin', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-SC {
  font-family: 'Kievit-SC', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

/* MILO INCLUDES */
@mixin Milo-Regular {
	font-family: 'Milo-Regular', $SECONDARY_FONT_MILO, $THIRD_FONT_MILO;
}

@mixin Milo-Regular-Italic {
	font-family: 'Milo-Regular-Italic', $SECONDARY_FONT_MILO, $THIRD_FONT_MILO;
}

@mixin Milo-Light {
	font-family: 'Milo-Light', $SECONDARY_FONT_MILO, $THIRD_FONT_MILO;
}

@mixin Milo-Light-Italic {
	font-family: 'Milo-Light-Italic', $SECONDARY_FONT_MILO, $THIRD_FONT_MILO;
}

@mixin Milo-Medium {
	font-family: 'Milo-Medium', $SECONDARY_FONT_MILO, $THIRD_FONT_MILO;
}
