@import 'mixins';
@import url('//fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700');

$FONT_PATH: '//ux-static.nypl.org.s3-website-us-east-1.amazonaws.com';

$SECONDARY_FONT_KIEVIT: 'Helvetica';
$THIRD_FONT_KIEVIT: 'arial';
$FOURTH_FONT_KIEVIT: 'sans-serif';

$SECONDARY_FONT_MILO: 'Roboto Slab';
$THIRD_FONT_MILO: 'serif';

/* FONT DEFINITIONS
 * ---------------------------
*/
/* KIEVIT */
@include font-face(Kievit-Regular, '#{$FONT_PATH}/ff_kievit_web/KievitWeb');
@include font-face(Kievit-Medium, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-Medi');
@include font-face(Kievit-Bold, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-Bold');
@include font-face(Kievit-Book, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-Book');
@include font-face(Kievit-Light, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-Light');
@include font-face(Kievit-Thin, '#{$FONT_PATH}/ff_kievit_web/KievitWeb-Thin');
/* KIEVIT Small Caps */
@include font-face(Kievit-SC, '#{$FONT_PATH}/ff_kievit_web/KievitScWeb');

/* MILO */
@include font-face(Milo-Regular, '#{$FONT_PATH}/milo-web/milo-slab-pro-regular/MiloSlabWebPro');
@include font-face(Milo-Regular-Italic, '#{$FONT_PATH}/milo-web/milo-slab-pro-regular-italic/MiloSlabWebPro-Italic');
@include font-face(Milo-Light, '#{$FONT_PATH}/milo-web/milo-slab-pro-light/MiloSlabWebPro-Light');
@include font-face(Milo-Light-Italic, '#{$FONT_PATH}/milo-web/milo-slab-pro-light-italic/MiloSlabWebPro-LightItalic');
@include font-face(Milo-Medium, '#{$FONT_PATH}/milo-web/milo-slab-pro-medium/MiloSlabWebPro-Medium');

/* KIEVIT INCLUDES */
@mixin Kievit-Regular {
  font-family: 'Kievit-Regular', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Medium {
  font-family: 'Kievit-Medium', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Bold {
  font-family: 'Kievit-Bold', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Book {
  font-family: 'Kievit-Book', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Light {
  font-family: 'Kievit-Light', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-Thin {
  font-family: 'Kievit-Thin', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

@mixin Kievit-SC {
  font-family: 'Kievit-SC', $SECONDARY_FONT_KIEVIT, $THIRD_FONT_KIEVIT;
}

/* MILO INCLUDES */
@mixin Milo-Regular {
	font-family: 'Milo-Regular', $SECONDARY_FONT_MILO, $THIRD_FONT_MILO;
}

@mixin Milo-Regular-Italic {
	font-family: 'Milo-Regular-Italic', $SECONDARY_FONT_MILO, $THIRD_FONT_MILO;
}

@mixin Milo-Light {
	font-family: 'Milo-Light', $SECONDARY_FONT_MILO, $THIRD_FONT_MILO;
}

@mixin Milo-Light-Italic {
	font-family: 'Milo-Light-Italic', $SECONDARY_FONT_MILO, $THIRD_FONT_MILO;
}

@mixin Milo-Medium {
	font-family: 'Milo-Medium', $SECONDARY_FONT_MILO, $THIRD_FONT_MILO;
}

/* NYPL ICON FONT RULES */
@font-face {
  font-family: 'nypl-moon';
  src:url('#{$FONT_PATH}/nypl-moon/nypl-moon.eot?-5i0iq5');
  src:url('#{$FONT_PATH}/nypl-moon/nypl-moon.eot?#iefix-5i0iq5') format('embedded-opentype'),
    url('#{$FONT_PATH}/nypl-moon/nypl-moon.ttf?-5i0iq5') format('truetype'),
    url('#{$FONT_PATH}/nypl-moon/nypl-moon.woff?-5i0iq5') format('woff'),
    url('#{$FONT_PATH}/nypl-moon/nypl-moon.svg?-5i0iq5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'nypl-moon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-wedge:before {
  content: "\e600";
}
.icon-up-wedge:before {
  content: "\e601";
}
.icon-circle-magnifier:before {
  content: "\e602";
}
.icon-small-wedge:before {
  content: "\e603";
}
.icon-tumblr:before {
  content: "\e604";
}
.icon-twitter:before {
  content: "\e605";
}
.icon-facebook:before {
  content: "\e606";
}
.icon-bldg:before {
  content: "\e607";
}
.icon-littleequals:before {
  content: "\e608";
}
.icon-magnifier:before {
  content: "\e609";
}
.icon-up-arrow:before {
  content: "\e60a";
}
.icon-circle-left-arrow:before {
  content: "\e60b";
}
.icon-circle-right-arrow:before {
  content: "\e60c";
}
.icon-circle-left-wedge:before {
  content: "\e60d";
}
.icon-circle-right-wedge:before {
  content: "\e60e";
}
.icon-circle-more:before {
  content: "\e60f";
}
.icon-more-dots:before {
  content: "\e610";
}
.icon-solo-X:before {
  content: "\e611";
}
.icon-circle-X:before {
  content: "\e612";
}
.icon-circle-check-2:before {
  content: "\e613";
}

