/* first for IE 4–8 */
@font-face {
  font-family: KievitScWeb-Book;
  src: url("http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitScWeb-Book.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: KievitScWeb-Book;
  src: url("http://staging.ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitScWeb-Book.woff") format("woff");
}

body {
  font-family: KievitScWeb-Book, sans-serif;
}

$PAGE_WIDTH_WRAPPER_DESKTOP: 1312px;

$MAIN_MENU_DESKTOP_HEIGHT: 250px;