# Folders
dist
node_modules
esdoc
coverage/
.idea/
.nyc_output
.bower
bower_components

# Files
npm-debug.log
.DS_STORE
assets.json
package-lock.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
