.FeatureItem {

	&-Image {
		
		&.with-image {
			width: 88px;
			height: 88px;
			display: block;
			position: absolute;
			top: 40px;
		}

		img {
			border-radius: 50%;
			width: 88px;
			height: 88px;
		}
	}

	&-Content {
		color: #FFFFFF;
		
		&.with-image {
			display: block;
			padding: 0;
			margin: 0 0 0 112px;
			width: auto;
			max-width: 100%;
		}

		&.without-image {
			margin: 0;
		}

		&-Tag {
			font-size: 13px;
			@include Kievit-Medium;
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
		&-Title {
			@include Milo-Light;
			font-size: 30px;
			line-height: 1em;
			margin: .75em 0;
			font-weight: normal;
		}

		&-Desc {
			@include Kievit-Regular;
			font-size: 15.5px;
			line-height: 1.5em;
			letter-spacing: .01em;
		}

		&-Date {
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			margin-bottom: 0.5em;
		}

		&-Author {
			&-Name {
				font-size: 17px;
				font-weight: normal;
				margin-bottom: 0.3em;
			}
			&-Title {
				font-size: 14px;
			}
		}
	}
}