&-GlobalAlerts {
	position: absolute;
	top: 60px;

	@include desktop {
		position: relative;
		top: inherit;
	}

	&.hide {
		display: none;
	}

	&-Wrapper {
		margin: 0;

		@include desktop {
  		display: block;
  		max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
  		margin: 0 auto;
  		position: relative;
		}
	}

	&-CloseButton {
		position: absolute;
		font-size: 24px;
		right: 17px;
		top: 15px;
		color: #908034;
		display: block;
		z-index: 1;

		@include desktop {
			top: -15px;
			right: 0;
		}
	}

	&-Box {
		position: relative;
		margin: .75em 1.75em .5em 1.2em;

		@include desktop {
			margin: .5em 0;
			left: 105px;
		}

		&-Item {
			margin: .5em 0;

			p {
				line-height: 1.2em;
			}

			a {
				text-decoration: underline;
				color: #333;

				&:visited, {
					color: #333;
				}
			}

			strong {
				@include Kievit-Bold;
			}

			* {
				margin: 0;
				padding: 0;
			}
		}
	}
}