/* The style of placehold text */
input::-webkit-input-placeholder {
  color: #A3A19E;
  @include desktop {
    color: #FFFFFF;
  }
}

input:-moz-placeholder { /* Firefox 18- */
  color: #A3A19E;
  @include desktop {
    color: #FFFFFF;
  } 
}

input:-moz-placeholder {  /* Firefox 19+ */
  color: #A3A19E;
  @include desktop {
    color: #FFFFFF;
  }
}

input:-ms-input-placeholder {
  color: #A3A19E;
  @include desktop {
    color: #FFFFFF;
  }
}

/* Customized radio button */
input[type=radio] {
  /* Hide original inputs */
  display: inline-block;
}

label:before {
  background-color: #FFFFFF;
  border-radius: 50%;
  content: '';
  display: none;
  height: 10px;
  left: 0;
  margin-right: 2px;
  position: relative;
  width: 10px;
}

input[type=radio]:checked + label:before {
  content: '\2022';
  color: #000000;
  display: none;
  font-size: 20px;
  line-height: 13px;
}

/* The Wrapper for putting in the icon for search button and search box */
&-SearchBox-Wrapper {
  display: block;

  /* Customized input field only for searchbox */
  input[type=text] {
    padding: 0;
    border: none;
  }

  input:not([type="image" i]), textarea {
    box-sizing: content-box;
  }

  @include desktop {
    display: inline-block;
  }
}

/* CSS for Search button */

&-SearchButton {
  -webkit-appearance: none;
  background-color: transparent;
  color: $BG_MENU_SEARCH;
  border-width: 0px;
  display: none;
  font-size: 22px;
  padding-bottom: 10px;
  @include desktop {
    display: block;
  }
  &:before {
    border-bottom-color: $BG_MENU_SEARCH;
    border-bottom-style: none;
    vertical-align: none;
    @include desktop {
      border-bottom-color: $BG_MENU_SEARCH;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      line-height: 1.5;
      padding: 0 3px 2px 3px;
      vertical-align: sub;
    }
  }
}

&-SearchButton--active {
  -webkit-appearance: none;
  background-color: $BG_MENU_SEARCH;
  color: #78CCED;
  border-width: 0px;
  display: none;
  font-size: 22px;
  padding-bottom: 10px;
  @include desktop {
    display: block;
  }
  &:before {
    border-bottom-color: $BG_MENU_SEARCH;
    border-bottom-style: none;
    vertical-align: none;
    @include desktop {
      border-bottom-color: $BG_MENU_SEARCH;
      border-bottom-style: none;
      border-bottom-width: 2px;
      line-height: 1.5;
      padding: 0 3px 2px 3px;
      vertical-align: sub;
    }
  }
}

/* CSS for Search box. It shows only activated. Default is not displayed. */
&-SearchBox {
  display: none;
}

&-SearchBox--active {
  background-color: $BG_MENU_SEARCH; 
  color: #000000;
  display: block;
  left: 0px;
  margin: -1px 0 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;
  @include desktop {
    height: 236px;
    margin: 0;
    top: 39px;
  }
}

/* The wrapper for all elements in SearchBox */
&-SearchBox-Elements-Wrapper {
  display: inline-block;
  margin: 20px 0 0 0;
  max-width: 1312px;
  position: relative;
  width: 100%;
  @include desktop {
    margin: 66px auto 0 auto;
    display: block;
    text-align: left;
  }
}

/* The wrapper for input fields */
&-SearchBox-Elements-Input-Wrapper {
  display: inline-block;
  padding: 0 0 18px 0;
  position: relative;
  width: 100%;
  text-align: center;
  @include desktop {
    border-bottom-style: none;
    display: inline-block;
    left: 0px;
    padding: 0 0 0 110px;
    width: 82%;
  }
}

&-SearchBox-Elements-Input-Keywords-Wrapper {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 93%;
  .icon {
    background-color: #FFFFFF;
    color: $BG_MENU_SEARCH;
    display: inline-block;
    font-size: 20px;
    left: 2px;
    padding: 10px 5px;
    position: absolute;
    top: 9px;
    @include desktop {
      display:none;
    }
  }
  @include desktop {
    margin: 0 0 20px 0;
    width: 100%;
  }
}

&-SearchBox-Input-Keywords {
  background-color: #FFFFFF;
  border: none;
  border-bottom: solid;
  border-bottom-width: 2px;
  border-color: #FFFFFF;
  color: #000000;
  display: inline-block;
  font-family: Kievit-Book;
  font-size: 18px;
  font-style: italic;
  height: 60px;
  padding: 0 0 0 35px;
  @include calculation(width, '100% - 35px');
  @include desktop {
    background-color: #1DA1D4;
    color: #FFFFFF;
    font-family: Kievit-Light;
    font-size: 66px;
    font-style: normal;
    letter-spacing: -0.8px;
    padding: 0 0 16px 0;
    width: 100%;
  }
}

&-SearchBox-Elements-Input-Options-Wrapper {
  color: #FFFFFF;
  display: none;
  float: left;
  font-size: 15px;
  @include desktop {
    display: inline-block;
  }
}

&-SearchBox-Input-Options {
  display: inline-block;
  span {
    margin: 0 50px 0 6px;
  }
}

&-SearchBox-Input-Options-label {
  cursor: pointer;
  display: inline-block;
  margin: 0 40px 0 10px;
}

&-SearchBox-Elements-SubmitButton {
  display: none;
  &:before {
    font-size: 22px;
    padding: 22px;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
  }
  @include desktop {
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: right;
    position: relative;
    right: 10px;
    top: 23px;
  }
}

/* Submit buttons with search options on mobile version */
&-SearchBox-Mobile-Submit {
  border-top-style: solid;
  border-color: rgba(102, 102, 102, 0.21);
  border-width: 1px; 
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  @include desktop {
    display: none;
  }
}

&-SearchBox-Mobile-Submit-Option {
  &.left-column {
    border-color: rgba(102, 102, 102, 0.21);
    border-right-style: solid;
    border-width: 1px;
  }
  cursor: pointer;
  display: inline-block;
  padding: 20px 0;
  width: 49%;
  span {
    margin: 0 20px 0 0;
  }
  .icon {
    color: #78CCED;
    font-size: 30px;
    position: absolute;
    top: 93px;
  }
}