/* The Wrapper for putting in the icon for search button and search box */
&-SearchBox-Wrapper {
  display: block;
  @include desktop {
    margin: 0 0 0 6px;
    display: inline-table;
    vertical-align: middle;
  }
}

/* CSS for Search button */
&-SearchButton {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: $BG_MENU_SEARCH;
  border-width: 0px;
  display: none;
  font-size: 22px;
  padding: 8px 10px 14px 10px;

  @include desktop {
    display: block;
  }

  &:before {
    border-bottom-color: $BG_MENU_SEARCH;
    border-bottom-style: none;

    @include desktop {
      border-bottom-color: $BG_MENU_SEARCH;
      border-bottom-style: solid;
      border-bottom-width: 2px;
    }
  }

  /* ACTIVE STATE */
  &.active {
    background-color: $BG_MENU_SEARCH;
    color: #78CCED;

    @include desktop {
      display: block;
    }
  }
}


/* CSS for Search box. It shows only activated. Default is not displayed. */
&-SearchBox {
  display: none;
  background-color: $BG_MENU_SEARCH;
  color: #000000;
  left: 0px;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 3;

  /* Rules for Desktop Active State */
  &.active {
    @include desktop {
      display: block;
      top: 42px;
      height: 225px;
    } 
  }

  /* Rules for Mobile Active State */
  &.mobileActive {
    display: block;
    margin: -1px 0 0 0;
    top: 0px;

    @include desktop {
      display: none;
    }
  }
}

/* The wrapper for all elements in SearchBox */
&-SearchBox-Elements-Wrapper {
  display: inline-block;
  margin: 20px 0 0 0;
  max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
  position: relative;
  width: 100%;
  @include desktop {
    margin: 55px auto 0 auto;
    display: block;
    text-align: left;
  }

  /* The style of placehold text */
  input::-webkit-input-placeholder {
    color: #A3A19E;
    @include desktop {
      color: #FFFFFF;
    }
  }

  input:-moz-placeholder { /* Firefox 18- */
    color: #A3A19E;
    @include desktop {
      color: #FFFFFF;
    } 
  }

  input:-moz-placeholder {  /* Firefox 19+ */
    color: #A3A19E;
    @include desktop {
      color: #FFFFFF;
    }
  }

  input:-ms-input-placeholder {
    color: #A3A19E;
    @include desktop {
      color: #FFFFFF;
    }
  }

  /* Customized radio button */
  input[type=radio] {
    /* Hide original inputs, but still accessible for input related functions */
    opacity: 0;
  }

  label:before {
    background-color: #FFFFFF;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 10px;
    left: 0;
    margin-right: 10px;
    position: relative;
    width: 10px;
    top: 1px;
    text-align: center;
  }

  input[type=radio]:checked + label:before {
    content: '\2022';
    color: #000000;
    font-size: 18px;
    line-height: 11px;
  }
}

/* The wrapper for input fields */
&-SearchBox-Elements-Input-Wrapper {
  display: inline-block;
  padding: 0 0 18px 0;
  position: relative;
  width: 100%;
  text-align: center;

  @include desktop {
    border-bottom-style: none;
    display: inline-block;
    left: 0px;
    padding: 0 0 0 110px;
    width: 82%;
  }
}

&-SearchBox-Elements-Input-Keywords-Wrapper {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 93%;

  .icon {
    background-color: #FFFFFF;
    color: $BG_MENU_SEARCH;
    display: inline-block;
    font-size: 20px;
    left: 2px;
    padding: 0;
    position: absolute;
    top: 22px;

    @include desktop {
      display:none;
    }
  }

  @include desktop {
    margin: 0 0 20px 0;
    width: 100%;
  }
}

&-SearchBox-Input-Keywords {
  background-color: #FFFFFF;
  border: none !important;
  box-sizing: content-box;
  color: #000000;
  display: inline-block;
  font-family: Kievit-Light;
  font-size: 18px;
  font-style: italic;
  height: 66px;
  padding: 0 0 0 25px !important;
  width: 100%;

  &:focus {
    outline: 0;
  }

  @include desktop {
    background-color: #1DA1D4;
    color: #FFFFFF;
    font-family: Kievit-Light;
    font-size: 66px;
    font-style: normal;
    letter-spacing: -0.8px;
    padding: 0 0 16px 0 !important;
    width: 100%;
  }
}

&-SearchBox-Input-Keywords-Border {
  border: none;
  display: inline-block;
  @include calculation(width, '100% - 35px');

  @include desktop {
    border: none;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: #FFFFFF;
    width: 100%;
  }
}

&-SearchBox-Elements-Input-Options-Wrapper {
  color: #FFFFFF;
  display: none;
  float: left;
  font-size: 16px;

  @include desktop {
    display: inline-block;
  }
}

&-SearchBox-Input-Option {
  display: inline-block;
  margin: 0 40px 0 0;
  &:last-child {
    margin: 0;
  }
}

&-SearchBox-Input-Options-label {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 0 -10px;
  letter-spacing: .025em;
}

&-SearchBox-Elements-SubmitButton {
  display: none;

  &:before {
    font-size: 22px;
    padding: 22px;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
  }

  @include desktop {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-width: 0px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 72px;
    padding: 0;
    position: relative;
  }
}

/* Submit buttons with search options on mobile version */
&-SearchBox-Mobile-Submit {
  border-top-style: solid;
  border-color: rgba(102, 102, 102, 0.21);
  border-width: 1px; 
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  display: block;

  @include desktop {
    display: none;
  }
}

&-SearchBox-Mobile-Submit-Option {
  cursor: pointer;
  display: inline-block;
  padding: 20px 0;
  width: 49%;

  &.left-column {
    border-color: rgba(102, 102, 102, 0.21);
    border-right-style: solid;
    border-width: 1px;
  }

  .title {
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;
  }

  .icon {
    display: inline-block;
    color: #78CCED;
    font-size: 30px;
    vertical-align: middle;
  }
}