@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/globals';
@import 'utils/colors';
@import 'utils/viewports';
@import 'utils/mixins';
@import 'utils/animations';

/* NYPL HEADER
 * -----------
 * -- Following BEM naming convention
 * -- Mobile First approach
*/
.Header {
	@include Kievit-Book;
  width: 100%;
  background-color: #FFF;
  @extend %clearfix;

  /* Global rules for repetitive link elements */
  a {
    text-decoration: none;
  }

	/* MOBILE HEADER
	 * -------------
	*/
	&-Mobile {
		display: block;
		
  	/* Hide MobileHeader on Desktop and larger viewports */
  	@include desktop {
  		display: none;
  	}
	}

  &.sticky {
  	@include desktop {
	  	.Header {
	  		&-Wrapper{
	  			border-top: 2px solid #EA212E;
	  			z-index: 3;
					width: 100%;
					position: fixed;
					top: 0;
					background-color: #FFF;
					height: 65px;
					box-shadow: 0px 2px 2.5px 0px rgba(50, 50, 50, 0.25);
					transition: all 0.4s ease;
	  		}

	  		&-Buttons {
	  			display: none !important;
	  		}

	  		&-Logo {
	  			display: inline-block;
	  			left: 0;
	  			width: auto;

	  			img {
	  				display: none;
	  			}

	  			span {
	  				display: block !important;
	  				font-size: 65px;
	  				color: #000;
	  			}
	  		}

	  		&-NavMenu {
	  			position: absolute;
	  			width: 100%;
	  			bottom: 5px;
	  		}
	  	}
  	}
  }

	/* DESKTOP HEADER WRAPPER
	 * ----------------------
	 * Sets the max-width on a desktop and up device.
	*/
	&-TopWrapper {
  	display: none;

  	@include desktop {
  		display: block;
  		max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
  	}
	}

	&-Logo {
    display: block;
    width: 230px;
    position: relative;
    left: -8px;
	}

	/* Global Alerts
	 * ------------------
	*/
	@import 'components/_globalAlerts';

	/* TOP HEADER BUTTONS
	 * ------------------
	 * - Sign In
	 * - E-mail Subscription
	 * - Donate
	*/ 
	&-Buttons {

		.SubscribeButton, .DonateButton, .SignInButton, .LibraryCardButton {
			@include Kievit-Bold;
			font-size: 12px;

			&:visited {
				color: #000;
			}
		}

		.SubscribeButton {
			color: #000;

			&.active {
				background-color: #1980A9;
				color: #FFF;
			}

			.icon {
				opacity: .8;
			}
		}

		.DonateButton {
			border-radius: 4px;
		}

	  .SignInButton-Wrapper {

	  	.signIn-up-arrow {
		  	@include up-arrow(#666666, 165px, 'top', -19px);	
		  }

		 	.LoginForm {
		  	font-size: 9px;

		  	a {
		  		display: inline-block;
		      padding: 7px 0;
		      margin-top: 7px;
		      color: #fff;
		  	}

				input[type=text], input[type=password] {
					height: 32px;
				}

				input[type=text] {
					width: 100%;
				}

				&-fields {
					padding: 7px;
					padding-bottom: 0;
				}

				&-text {
					color: #fff;
					padding: 0 7px;
				}

				&-longField {
					width: 145px;
					margin-right: 5px;
					display: inline-block;
				}

				&-shortField {
					width: 90px;
					display: inline-block;
					margin: 0 5px;

					input {
						width: 100%;
					}
				}
		  }

		  .SSOLoggedInMenu {
		  	a {
		  		margin: 0px;
			    padding: 0px;
			    color: #000000;
			    font-size: 11px;
			    float: none;
			    width: 100px;
			    text-decoration: none;
		  	}
		  }
	  }
	}

	.EmailSubscription-Wrapper {
		text-transform: none;
		display: none;

		&.active {
			display: block;
		}

		.EmailSubscription {
			.SubscribeMessageBox {
				width: 85%;

				&-Eyebrow {
					border-top: 2px solid #FFF;
					color: #fff;
					margin-bottom: 10px;
					width: 25px;
				}
				&-Title {
					color: #fff;
					font-size: 20px;
					@include Kievit-Book;
					font-weight: normal;
					line-height: 1.2em;

					&-BestNYPL {
						@include Kievit-Medium;
						font-weight: normal;
			    }
				}
			}
			&-NewEmail {
				margin-top: 20px;
				font-size: 12px;
				text-transform: uppercase;
				@include Kievit-Light;

				a {
					border-bottom: 1px solid #fff;
					color: #fff;
				}
			}
			&-SocialMediaWidget {
  			ul {
  				list-style-type: none;
  				margin: 0;
  				padding: 0;

  				li {
  					display: inline-block;
  					margin: 0 15px 0 0;
  					line-height: 0;

  					&:last-child {
  						margin-right: 0;
  					}

  					a {
  						color: #fff;
  						text-decoration: none;
  						display: block;
  						font-size: 55px;
  					}
  				}
  			}
  		}
			&-FollowUs {
				color: #fff;
				text-transform: uppercase;
				margin-top: 40px;
				font-size: 12px;
			}
			&-Misc-Error {
				color: #fff;
				font-size: 20px;
				line-height: 1.2em;
				padding-top: 40px;
				@include Kievit-Book;

				.icon {
					vertical-align: middle;
					font-size: 25px;
					margin-right: 5px;
				}
			}
		}

		.EmailSubscribeForm {
			&-Error {
				@include Kievit-Light;
				display: none;
				position: absolute;
				margin-top: 15px;
				margin-left: 5px;
				font-size: 13px;
				color: #fff;

				&.active {
					display: block;
				}

				.icon {
					color: rgba(0, 0, 0, 0.5);
					font-size: 22px;
					margin-right: 5px;
					vertical-align: middle;
				}
			}
			&-Input {
				display: table-cell;
		    border-radius: 5px;
		    padding: 2px 5px;
		    height: 35px;
		    margin: 15px 0 0 0;
		    width: 95%;
		    font-size: 14.5px;
		    border: 3px solid #1DA1D4;
		    color: #837e77;
		    @include Kievit-Book-Italic;

				&:focus {
	  			border: 3px solid #1980A9;
				}
			}
			&-Submit {
				.icon {
					color: #fff;
					font-size: 30px;
					position: absolute;
					margin-top: 53px;
					margin-left: 5px;
				}
			}
		}
	}


	/* MAIN NAVIGATION
	 * ---------------
	 * - Includes MegaMenu's
	 * - Includes Logo text for mobile
	 * - Arrows on NavMenu Top Links
	*/
	@import 'components/_navMenu';
}
