@import 'utils/colors';
@import 'utils/normalize';
@import 'utils/globals';
@import 'utils/viewports';

$headerHeight: 175px;
$headerPaddingR: 70px;
$headerPaddingL: 120px;

/* NYPL HEADER RULES
 * -----------------
 * -- Following BEM naming convention
 *
 *
*/
#Header {
  /* Global rules for repetitive elements */
  a {
    text-decoration: none;
  }

  .Header-TopWrapper {
  	@include min-screen(1024px) {
  		max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
  	}
  }

  .signIn-up-arrow {
		&:before, &:after {
			content: ' ';
			height: 0;
			position: absolute;
			width: 0;
			border-style: solid;
			border-width: 10px;
			border-top-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: #666666;
			top: -19px;
			left: 171px;
		}

		/* top-stacked, smaller arrow */
		&:before {
			z-index: 2;
		}

		/* arrow which acts as a background shadow */
		&:after {
			z-index: 1;
		} 	
  }

  .EmailSubscribeForm-Wrapper {
  	&.up-arrow {
			&:before, &:after {
				content: ' ';
				height: 0;
				position: absolute;
				width: 0;
				border-style: solid;
				border-width: 10px;
				border-top-color: transparent;
				border-left-color: transparent;
				border-right-color: transparent;
				border-bottom-color: #EEE;
				top: -19px;
				left: 212px;
			}

			/* top-stacked, smaller arrow */
			&:before {
				z-index: 2;
			}

			/* arrow which acts as a background shadow */
			&:after {
				z-index: 1;
			}
  	}
  }

  /* MAIN NAVIGATION */
  .NavMenu {
  	/* Top-level Links Wrapper */
	  &-TopLevelLinks {
	  	padding: 0;
	  	margin: 0 auto;
	  	list-style-type: none;
	  	text-align: right;

	  	@include min-screen(1024px) {
	  		max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
	  	}

	  	li {
	  		display: inline-block;
	  		padding: 5px 8px;

	  		a {
	  			color: #000;
	  		}
	  	}
	  }

	  .MegaMenu {
	  	width: 100%;

	  	&-Wrapper {
		  	@include min-screen(1024px) {
		  		max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
		  		margin: 0 auto;
		  	}
	  	}

	  	&-SubNav {
	  		display: table-cell;
	  		vertical-align: baseline;
	  	}

	  	&-Features {
	  		display: table-cell;
	  		width: 100%;
	  		vertical-align: baseline;
	  	}
	  }
  }
}