@import 'utils/colors';
@import 'utils/normalize';
@import 'utils/globals';
@import 'utils/viewports';

/* NYPL HEADER RULES
 * -----------------
 * -- Following BEM naming convention
 *
*/
#Header {
  width: 100%;
  background-color: white;
  @extend %clearfix;

  /* Global rules for repetitive elements */
  a {
    text-decoration: none;
  }

  .Header-TopWrapper {
  	@include desktop {
  		max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
  	}
  }

  .SubscribeButton, .DonateButton, .SignInButton {
  	@include Kievit-Bold;
  	font-size: 11px;
  }

  .SignInButton-Wrapper {
  	.signIn-up-arrow {
	  	@include up-arrow(#666666, 165px, 'top', -19px);	
	  }

	 	.LoginForm {
	  	font-size: 9px;

	  	a {
	  		display: inline-block;
	      padding: 7px 0;
	      margin-top: 7px;
	      color: #fff;
	  	}

			input[type=text], input[type=password] {
				height: 32px;
			}

			input[type=text] {
				width: 100%;
			}

			&-fields {
				padding: 7px;
				padding-bottom: 0;
			}

			&-text {
				color: #fff;
				padding: 0 7px;
			}

			&-longField {
				width: 145px;
				margin-right: 5px;
				display: inline-block;
			}

			&-shortField {
				width: 90px;
				display: inline-block;
				margin: 0 5px;

				input {
					width: 100%;
				}
			}
	  }
  }

  .SSOLoggedInMenu {
  	a {
  		margin: 0px;
	    padding: 0px;
	    color: #000000;
	    fontSize: 11px;
	    float: none;
	    width: 100px;
	    textDecoration: none;
  	}
  }

  .EmailSubscribeForm-Wrapper {
  	&.up-arrow {
  		@include up-arrow(#EEE, 212px, 'top', -19px);
  	}
  }

  /* MAIN NAVIGATION */
  .NavMenu {
  	position: relative;
  	/* Top-level Links Wrapper */
	  &-TopLevelLinks {
	  	padding: 0;
	  	margin: 0 auto;
	  	list-style-type: none;
	  	text-align: right;

	  	@include desktop {
	  		max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
	  	}

	  	li {
	  		position: relative;
	  		display: inline-block;
	  		padding: 5px 8px;

	  		a {
	  			@include Kievit-Book;
	  			color: #000;
	  		}

	  		&.active {
	  			@include up-arrow($BG_MENU_BROWSE_RIGHT, 33%, 'bottom', -10px, 12px);
	  		}
	  	}
	  }

	  .MegaMenu {
	  	color: #FFFFFF;
	  	background-color: $BG_MENU_BROWSE_RIGHT;

	  	&--active {
	  		width: 100%;
	  		position: absolute;
		  	top: 34px;
	  		background-color: $BG_MENU_BROWSE_RIGHT;
	  	}

	  	&-LeftBgWrapper {
				height: $MAIN_MENU_DESKTOP_HEIGHT;
				width: 50%;
				position: absolute;
				left: 0;
				background-color: $BG_MENU_BROWSE_LEFT;
				z-index: 0;
	  	}

	  	&-Wrapper {
	  		width: 100%;
		  	display: block;
		  	min-height: $MAIN_MENU_DESKTOP_HEIGHT;
		  	margin: 0 auto;
		  	max-width: 1312px;
		  	z-index: 1;
		  	position: relative;
	  	}

	  	&-SubNavWrapper {
	  		position: relative;
	  		width: 350px;
	  		float: left;
	  		display: table-cell;
	  		margin: 0;
	  		padding: 0;
	  		background-color: $BG_MENU_BROWSE_LEFT;
	  		height: $MAIN_MENU_DESKTOP_HEIGHT;
	  	}

	  	&-SubNav {
	  		height: 100%;
	  		position: absolute;
	  		right: 20px;
	  		width: 225px;

	  		a {
	  			color: #FFFFFF;
	  		}

	  		h2 {
	  			color: #FFFFFF;
	  			border-top: 2px solid #FFFFFF;
	  			margin: 20px 0px;
	  			padding: 10px 0 0 0;
	  		}

	  		ul {
	  			margin: 0;
	  			padding: 0;
	  			list-style-type: none;

	  			li {
	  				&:first-child {
	  					margin-top: 0px;
	  				}
	  				margin: 7px 0px;
	  			}
	  		}
	  	}

	  	&-FeaturesWrapper {
	  		display: table-cell;
	  		margin: 0;
	  		padding: 0;
	  		height: $MAIN_MENU_DESKTOP_HEIGHT;
	  		background-color: $BG_MENU_BROWSE_RIGHT;
	  	}

	  	&-Features {
	  		display: block;
	  		margin: 0;
	  		width: 100%;
	  	}

	  	&-FeatureItem {
	  		display: inline-table;
	  		width: 48%;
	  		margin: 0 0 0 2%;
	  		vertical-align: top;

	  		.FeatureItem {
	  			&-Image {
	  				width: 88px;
	  				height: 88px;
	  				position: relative;
	  				top: 80px;
	  				margin: 0 10px 0 0;

	  				img {
	  					border-radius: 50%;
	  				}
	  			}

	  			&-Content {
	  				color: #FFFFFF;
	  				display: table-cell;
	  				vertical-align: top;
	  				position: relative;
	  				top: 60px;

	  				&-Tag {
	  					@include Kievit-Medium;
	  				}

	  				&-Title {
	  					@include Milo-Regular;
	  					line-height: 1.25em;
	  					margin: .75em 0;
	  				}

	  				&-Desc {
	  					@include Kievit-Regular;
	  				}
	  			}
	  		}
	  	}
	  }
  }

  /* CSS for Search button */
  .NavMenu-TopLevelLinks-SearchButton {
    -webkit-appearance: none;
    background-color: transparent;
  	color: #000000;
    font-size: 1em;
    border-width: 0;
  	&:hover {
  		color: $BG_SEARCHBOX
  	}
  }

  .NavMenu-TopLevelLinks-SearchButton--active {
    -webkit-appearance: none;
    background-color: transparent;
  	color: $BG_SEARCHBOX;
    font-size: 1em;
    border-width: 0;
  }

  /* CSS for Search box. It shows only activated. Default is not displayed. */
  .NavMenu-SearchBox--active {
		background-color: $BG_SEARCHBOX; 
		color: #000000;
		display: block;
		height: 200px;
		margin: 6px 0 0 0;
		position: relative;
  	width: 100%;
  	z-index: 300;
  }
  .NavMenu-SearchBox {
		display: none;
  }

  .NavMenu-SearchBox-Elements-Wrapper {
		margin: 55px 10% 0 10%;
    display: inline-block;
    width: 80%;
  }

  .NavMenu-SearchBox-Elements-Input-Wrapper { 
    display: inline-block;
    position: relative;
    width: 90%;
  }

  .NavMenu-SearchBox-Elements-Input-Keywords-Wrapper {
		display: block;
		margin: 0 0 20px 0;
    position: relative;
  }

	.NavMenu-SearchBox-Input-Keywords {
		width: 100%;
    height: 60px;
    background-color: #1DA1D4;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;
    border-color: #FFFFFF;
    font-size: 45px;
    color: #FFFFFF;
	}

	.NavMenu-SearchBox-Elements-Input-Options-Wrapper {
		color: #FFFFFF;
		font-size: 14px;
	}

	.NavMenu-SearchBox-Input-Options {
		display: inline-block;
		span {
			margin: 0 10px 0 10px;
		}
	}

	.NavMenu-SearchBox-Elements-Input-Advanced-Options {
    color: #FFFFFF;
		display: inline-block;
    float: right;
    text-transform: uppercase;
	}

	.NavMenu-SearchBox-Elements-SubmitButton {
    float: right;
    height: 60px;
	}
}