@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/globals';
@import 'utils/colors';
@import 'utils/viewports';
@import 'utils/mixins';
@import 'utils/animations';

/* NYPL HEADER
 * -----------
 * -- Following BEM naming convention
 * -- Mobile First approach
*/
.Header {
	@include Kievit-Book;
  width: 100%;
  background-color: #FFF;
  @extend %clearfix;

  /* Global rules for repetitive link elements */
  a {
    text-decoration: none;
  }

	/* MOBILE HEADER
	 * -------------
	*/
	&-Mobile {
		display: block;
		
  	/* Hide MobileHeader on Desktop and larger viewports */
  	@include tablet-landscape {
  		display: none;
  	}

  	@include desktop {
  		display: none;
  	}
	}

	/* STICKY HEADER
	 * -------------
	*/
  &.sticky {
  	@include desktop {
	  	.Header {
	  		&-Wrapper{
	  			border-top: 2px solid #EA212E;
	  			z-index: 999;
					width: 100%;
					position: fixed;
					top: 0;
					background-color: #FFF;
					height: 65px;
					box-shadow: 0px 2px 2.5px 0px rgba(50, 50, 50, 0.25);
					transition: all 0.4s ease;
	  		}

	  		&-Buttons {
	  			display: none !important;
	  		}

	  		&-Logo {
	  			display: inline-block;
	  			left: 0;
	  			width: auto;

	  			img {
	  				display: none;
	  			}

	  			span {
	  				display: block !important;
	  				font-size: 65px;
	  				color: #000;
	  			}
	  		}

	  		&-NavMenu {
	  			position: absolute;
	  			width: 100%;
	  			bottom: 5px;
	  		}
	  	}
  	}
  }

	/* DESKTOP HEADER WRAPPER
	 * ----------------------
	 * Sets the max-width on a desktop and up device.
	*/
	&-TopWrapper {
  	display: none;

  	@include tablet-landscape {
  		display: block;
  		max-width: $PAGE_WIDTH_WRAPPER_DESKTOP; /* revisit max-width on tablet landscape */	
  	}

  	@include desktop {
  		display: block;
  		max-width: $PAGE_WIDTH_WRAPPER_DESKTOP;
  	}
	}

	/* DESKTOP LOGO
	 * ------------
	 * Defined width for desktop.
	 * position adjustments left.
	*/
	&-Logo {
    display: block;
    width: 230px;
    position: relative;
    left: -8px;
	}

	/* TOP HEADER BUTTONS (excludes subscribe)
	 * ---------------------------------------
	 * - Library Card
	 * - Donate
	*/ 
	&-Buttons {

		.DonateButton, .LibraryCardButton {
			@include Kievit-Bold;
			font-size: 12px;

			&:visited {
				color: #000;
			}
		}

		.DonateButton {
			border-radius: 4px;
		}
	}

	/* Global Alerts
	 * -------------
	*/
	@import 'components/_globalAlerts';

	/* EMAIL SUBSCRIBE BUTTON/FORM
	 * ---------------------------
	 * - Includes Button rules
	 * - Includes Email Signup rules
	*/
	@import 'components/_emailSubscribeButton';

	/* MAIN NAVIGATION
	 * ---------------
	 * - Includes MegaMenu's
	 * - Includes Logo text for mobile
	 * - Arrows on NavMenu Top Links
	*/
	@import 'components/_navMenu';
}
