<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title><%- appTitle %></title>

		<!--[if IE]><link rel="shortcut icon" href="<%- favicon %>"><![endif]-->
		<!-- Possibly include a png version of the favicon -->
		<link rel="icon" type="image/png" href="<%- favicon %>">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<% if (isProduction) { %>
    <!-- Minified Styles -->
    <link rel="stylesheet" type="text/css" href="/styles.css">
<% } else { %>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/styles.css">
<% } %>

  </head>
  <body>
		<div id="nypl-dgx-header"><%- headerApp %></div>
  </body>

<% if (isProduction) { %>
  <script async src="/bundle.js"></script>
<% } else { %>
  <script src="http://localhost:3000/bundle.js"></script>
<% } %>

</html>